body {
	background-color: black;
}

#graph {
	position:fixed;
	overflow: hidden;
	right: -51%;
	width: 50%;
	opacity: 1;
	background-color: white;
	height:100vh;
	padding: 5px;
}

#info_top {
	margin:3%;
	height:30%;
}
#info_bottom{
	margin:3%;
	height:70%;
}
#countries{
}
#yearlist{

	margin-left:155px;
}
#datalist{
	margin-top:27px
}



.water {
  fill: #1E90FF;
}

.land {
  fill: #696969;
  stroke: #FFF;
  stroke-width: 1px;
}

/*.land:hover {
  fill:#33CC33;
  stroke-width: 1px;
}*/

.focused {
  fill: #33CC33;
}

#begin{
	float:left;
	margin-right: 5px;
}

#end{
	float:right;
	margin-left: 5px;
}

#legenda {
	color: #fff;
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 90vh;
}

select {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}